main {
    height: 500px;
    border: 2px solid green;
}

.flex-container {
    display: flex;
    width: 500px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px dashed purple;
    margin: auto;
}

.flex-container > div {
    margin: 20px;
    padding: 30px;
    border: 1px solid red;
    color: blue;
    font-size: 30px;
    background-color: #FEC0CB;
}
